VECTOR_DB_TYPE='milvus' # option milvus or pinecone db
DEBUG=True # Debug mode on or off

# MongoDB
MONGODB_URI=mongodb://user:password@host:27017/ # MongoDB connection URI
MONGODB_DB_NAME=wakilai # Database name
COLLECTION_NAME=database # Collection name

# Paid pinecone account if using pinecone
PINECONE_API_KEY=YOUR_PINECONE_API_KEY
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=INDEX_NAME
NAMESPACE_NAME=NAMESPACE_NAME

# Milvus
MILVUS_COLLECTION_NAME=MILVUS_COLLECTION_NAME
MILVUS_URI=http://host:19530/ # Milvus DB url
MILVUS_USER=root # Milvus username
MILVUS_PASSWORD=Milvus # Milvus password

# EMBEDDING MODELS
EMBEDDING_MODEL='qwen' # Qwen or Openai models /mnt/data/mirsaid/workspace/projects/adliya_data/backups/lexuz_backup_latest_700k.jsonl
DEEPINFRA_API_KEY=YOUR_DEEPINFRA_API_KEY

# Qwen
QWEN_EMBEDDING_URL='http://host:port/v1/embeddings/' # Link to the fastapi endpoint for inference qwen model with vllm
QWEN_EMBEDDING_MODEL='Qwen/Qwen3-Embedding-4B' # model to use when qwen is choosen

# LLM
# COMPLETION_MODEL_TYPE="novita" # which model to use for LLM (available gemma or gpt)
LLM_PROVIDER='novita' # which model to use for LLM (available gemma or gpt)
LOCAL_VLLM_BASE_URL=YOUR_LOCAL_VLLM_BASE_URL
LOCAL_VLLM_MODEL=LOCAL_VLLM_MODEL_NAME
LOCAL_VLLM_API_KEY=YOUR_LOCAL_VLLM_API_KEY

OUTPUT_MAX_TOKENS=8192

NOVITA_API_KEY=YOUR_NOVITA_API_KEY
NOVITA_MODEL=openai/gpt-oss-120b

# SECURITY
# Docs User and Password
DOCS_USER=FASTAPI_DOCS_USER
DOCS_PASSWORD=FASTAPI_DOCS_PASSWORD

# Add these to your .env file
API_KEY_NAME=X-API-HBAI-KEY
API_KEY=YOUR_API_KEY_VALUE

# OpenAI API KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY # for fallbacks and agentic services
MEM0_API_KEY=YOUR_MEM0_API_KEY # for mem0 vector db service

# Other secret Keys
TEMPERATURE=0.1
ALPHA=0.8
TOP_K=10

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_LOGIN=YOUR_TELEGRAM_BOT_LOGIN

# Speech to Text  
SPEECH_TO_TEXT_PROVIDER="azure" # Available options: google, azure
AZURE_SPEECH_KEY="YOUR_AZURE_SPEECH_KEY"
AZURE_SPEECH_REGION="eastus" # e.g., eastus, westus

OCR_API_URL=http://host:port # OCR API endpoint
TAVILY_API_KEY=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
