fastapi==0.115.12
pydantic==2.12.3
pydantic-settings==2.11.0
langchain==0.3.0
langchain-openai==0.3.17
pinecone[async]==6.0.2
openai>=1.90,<2.0.0
tqdm==4.65.0
python-dotenv==1.1.1
httptools==0.6.4
httpx==0.28.1
html2text==2025.4.15
pymongo==4.12.0
cryptography==45.0.3
pymilvus==2.5.11
pymilvus.model==0.3.2
fasttext==0.9.3
UzTransliterator==0.0.36
loguru==0.7.3
requests==2.32.5
google-cloud-speech>=2.26.0
pydub==0.25.1
azure-cognitiveservices-speech==1.38.0
mem0ai==0.1.118
uvicorn[standard]==0.34.2
protobuf>=5.29.0,<6.0.0
python-multipart==0.0.20
crewai==1.2.0
crewai-tools==1.2.0
tavily-python==0.7.12
litellm==1.74.9